body {
  min-height: 1000px;
  background-color: #ededed;
}

.logo-title {
  font-family: "Lobster", cursive;
}

.portafolio-item-column {
  width: 75%;
}

.portafolio-item-column img {
  max-height: 100%;
  border: none !important;
}

.portafolio-img {
  max-height: 320px;
  object-fit: cover;
  object-position: top center;
}

#portafolio > div:hover img {
  opacity: 0.7;
  cursor: pointer;
}

#btn-back-to-top {
  bottom: 10px;
  right: 20px;
  opacity: 0.6;
}

#btn-back-to-top:hover {
  opacity: 1;
}
